/* 

Positioning in CSS : 

    CSS positions is a concept helps us to place HTML elements in different positions on a web page.

    There are several types of positioning in CSS:
    1. Static Positioning
       - Default positioning for all HTML elements.
       - Elements are positioned according to the normal flow of the document.
    2. Relative Positioning
       - Elements are positioned relative to their normal position.
       - You can use the top, right, bottom, and left properties to adjust the position.
    3. Absolute Positioning
       - Elements are positioned relative to the nearest positioned ancestor (not static).
       - If no positioned ancestor is found, it is positioned relative to the initial containing block (usually the viewport).
    4. Fixed Positioning
       - Elements are positioned relative to the viewport.
       - They remain fixed in place even when the page is scrolled.
    5. Sticky Positioning
       - Elements are treated as relative until they reach a specified scroll position, then they become fixed.
       - Useful for creating headers that stick to the top of the page when scrolling.
*/


.box{
    width: 100px;
    height: 100px;
    background-color: coral;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
}


/* Static Positioning */

.static{
    background-color: aliceblue;
    position: static; /* Default value */
}

/* Relative Positioning */
.relative{
    background-color: lightgreen;
    position: relative;
}


section{
    border: 2px solid black;
    height: 300px;
    position: relative; /* To make absolute positioning work within this section */
    
}

/* Absolute Positioning */

.absolute{
    background-color: lightpink;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
}

/* Fixed Positioning */
.fixed{
    background-color: lightgray;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* Sticky Positioning */
.sticky{
    background-color: rgb(235, 235, 9);
    position: sticky;
    top: 0;
    z-index: 5;
    border: 2px solid black;
}