<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
    <title>AchieversIT - HTML4 & HTML5 Navbar</title>
</head>

<body>
    <!-- ============================= -->
    <!-- HEADER IMPLEMENTATION IN HTML4 -->
    <!-- ============================= -->
    <!-- 
      In HTML4, we do not have semantic elements like <header> or <nav>. 
      So we use <div> containers with IDs or classes to organize the structure.
    -->
    <div id="header">
        <!-- Logo Section -->
        <div id="logo">
            <a href="https://www.achieversit.com/">
                <img src="https://www.achieversit.com/assets/images/logo-white.png" 
                     alt="AchieversIT Logo" height="60">
            </a>
        </div>

        <!-- Navigation Menu Section -->
        <div id="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
    <!-- ====== END OF HTML4 HEADER ====== -->


    <hr> <!-- Just a separator line between HTML4 and HTML5 examples -->


    <!-- ============================= -->
    <!-- HEADER IMPLEMENTATION IN HTML5 -->
    <!-- ============================= -->
    <!-- 
      In HTML5, semantic elements like <header> and <nav> make the code more 
      meaningful, SEO-friendly, and easier to read. 
    -->
    <header>
        <!-- Navigation Container -->
        <nav>
            <!-- Logo Section -->
            <a href="https://www.achieversit.com/">
                <img src="https://www.achieversit.com/assets/images/logo-white.png" 
                     alt="AchieversIT Logo" height="60">
            </a>

            <!-- Navigation Links -->
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <marquee behavior="" direction="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, repellat sit! Quia dolorem placeat doloremque dolore magnam voluptatibus minima in.</marquee>
    <!-- ====== END OF HTML5 HEADER ====== -->

</body>
</html>
