.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container ul{
    list-style: none;
    border: 1px solid black;
    width: 90%;
    border-radius: 10px;
    height: 280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(179, 185, 191);
}

.container ul li{
    height: 60px;
    width: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}


.container ul li:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 100px;
    width: 100px;
}


/* Pseudo Class with Anchor Tag */

a:link{
    color: green;
}

a:hover{
   color: brown;
}

a:active{
    color: aqua;
}


/* Pseudo Elements */

p::first-letter{
    color: blue;
    font-size: 30px;
}


h1:hover::before{
    content: "Galeti ";
}

h1:hover::after{
    content: " Krishna";
}


/* Attribute */

[class$="e"]{
    color: red;
    background-color: black;
}

[type="text"]{
    border: 2px solid red;
}